.firstParagraph {
  color: purple;
  font-size: 25px;
  background-color: green;
}

ul {
  color: red;
  font-size: 18px;
  border: 2px solid orange;
}

.div2 {
  background-color: pink;
  border: 10px solid blue;
}

.div3 {
  background-color: purple;
}

#myId {
  color: green;
  font-size: 30px;
  border: 4px solid red;
}
